---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Lava's Blog
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      欢迎来到 Lava 的个人博客。
    </p>
    <p class="mb-5">
      我是 Lava，目前是学生兼独立开发者，目前致力于寻找产品方向的工作。我的作品有「披萨小助手」系列游戏工具和 DebitCredit。
    </p>
    <p class="mb-5">
      <span class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
      from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue font-bold">「披萨小助手」</span>是由本人从零到一设计与开发的系列游戏工具 APP，致力于为「原神」「崩坏：星穹铁道」等游戏玩家提供帮助。披萨小助手深受全球用户喜爱，全球合计下载量超 45 万，日活用户超过 5 万人，App Store 评分 4.9/5.0。<a href="projects/pizza-helper-intro" class="text-xs">点击此处查看该项目的详细介绍</a>
    </p>
    <p class="mb-5">
      <span class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
      from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue font-bold">DebitCredit</span> 是一款基于复式记账法的记账工具 App，也是本人在 WWDC 2023 学生挑战赛的提交的参赛作品。在该挑战赛中，DebitCredit 作为获奖项目之一，受到了苹果公司首席执行官 Tim Cook 的高度评价。<a href="projects/debitcredit-intro" class="text-xs">点击此处查看该项目的详细介绍</a>
    </p>
    <p class="mb-5">
      这个博客目前用于存放上述作品的介绍与在项目实践中对产品的思考与实践，而这些内容主要用于我的求职展示。
    </p>
    <p class="mb-5">
      您可以通过 daicanglong@gmail.com 联系我。
    </p>
  </div>
</section>
