---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Lava's Blog
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      欢迎来到Lava的个人博客。
    </p>
    <p class="mb-5">
      我是Lava，目前是学生兼独立开发者。作品有
      <a href="projects/pizza-helper-intro">原神披萨小助手</a>、
      <a href="projects/pizza-helper-intro">星铁披萨小助手</a>、
      <a href="projects/debitcredit-intro">DebitCredit</a>。目前致力于寻找产品方向的工作。
    </p class="mb-5">
    <p class="mb-5">
      这里会记录一些我对产品的思考，以及托管一些文档。
    </p>
  </div>
</section>
